<h2>Países</h2>
<hr />

<ul class="list-group">
  <!-- <li routerLink="" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item">
    Home Page
  </li>
  <li routerLink="about" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    About Page
  </li> -->



  <li routerLink="countries/by-capital" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    Por capital
  </li>
  <li routerLink="countries/by-country" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    Por país
  </li>
  <li routerLink="countries/by-region" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    Por Región
  </li>
</ul>
